// 
// * GRID *
//
@import "elements.less";
@import "grid.less";


@column-width: 68;
@gutter-width: 12;
@columns: 12;

@total-width: 100%;


div#content {
	width: 973px;
	margin-left: -6px;
}
// 
// * CLEARFIX *
//
.clearfix {

	&:after {
		clear: both;
		content: ' ';
		display: block;
		font-size: 0;
		line-height: 0;
		visibility: hidden;
		width: 0;
		height: 0;
	}

	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
.hide {
	display:none;
}
.antialias() {
	-webkit-font-smoothing: antialiased;
}
// 
// * FONTS *
//
.adelleNormal() {
	font-family:"Adelle";
	font-weight:400;
	.antialias();
}
.adelleHeavy() {
	font-family:"Adelle";
	font-weight:700;
	.antialias();
}
//
// * MIXINS *
//
.disable-text-select { // does work anymore?
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
//////////////////////////////////////////////////////
//                                                  //
//                                                  //
//                     BIG NAV                      //
//                                                  //
//                                                  //
//////////////////////////////////////////////////////
#big-audience-nav {
	nav {
		height: 50px;
		width: 960px;
		margin: 0 auto;
		border-bottom: 1px solid #B9B9B9;
		ul {
			.clearfix;
			background:url('../coned_images/nav/coned-big-nav-bg.jpg') 0 0 repeat-x;
			margin: 0;
			padding: 0;
			li {
				text-align:center;
				//.column(4,12);
				display: inline-block;
				width: 33.33%;
				a {
					.adelleNormal();
					font-size:1.6em;
					text-decoration:none;
					border-right: 1px solid #b9b9b9;
					color:#333;
					display:block;
					padding-top:.65em;
					padding-bottom:.65em;
					width:100%;
					&:hover {
						color:#007ac3;
					}
				}
			}
			li:last-child {
				a {
					border: 0;
				}
			}
			li.active-tab {
				background:url('../coned_images/deco/local-global-nav-selected.png') no-repeat center bottom;
				a {
					background:#007ac3;
					color:white;
				}
			}
		}
	}
}
//////////////////////////////////////////////////////
//                                                  //
//                                                  //
//               LANDING PAGE SLIDER                //
//                                                  //
//                                                  //
//////////////////////////////////////////////////////
#coned-messaging-area {
	.column(12);
	height:400px;
	margin-top:1em;
}
//////////////////////////////////////////////////////
//                                                  //
//                                                  //
//                     CONED SEARCH                 //
//                                                  //
//                                                  //
//////////////////////////////////////////////////////
#coned-search-bar {
	.column(12);
	background:url('/common/coned_images/paper-texture-dark.jpg') #f7f7f7;
	//background:#3a3a3a;
	height:70px;
	//margin-top:0.9em;
	margin-top:0;
	margin-bottom:1em;
	position: relative;
	z-index: 99;
	h1 {
		background: url('/common/coned_images/search-explore-graphic.png') no-repeat center;
		text-indent:-9999px;
		font-size:1.75em;
		.adelleNormal();
		margin-top:.5em;
		margin-left:1em;
		width:42%;
		height:55px;
		float:left;
		color:#B0B0B0;
		span {
			font-size:1.2em;
			font-weight:bold;
			.adelleHeavy();
			color:#f1f1f1;
			&:after {
				content:" ";
				display:inline-block;
				background: #4c4c4c;
				margin-left: 10px;
				width:1px;
				height:1em;
				margin-bottom:-.2em;
			}
		}
	}
	form {
		float:left;
		width:50%;
		margin-right:3em;
		margin-top:1.4em;
		fieldset {
			.clearfix;
			input.coned-search-field {
				width:53%;
				border:none;
				background:white;
				padding:1em 2em;
				margin-right:.5em;
				float:left;
				.rounded(3px);
			}
			.coned-search-submit {
				width:34%;
				.gradient(#0087f0, #0087f0, #00a7fd);
				cursor:pointer;
				padding:1em 2em;
				color:whitesmoke;
				border:none;
				float:left;
				.rounded(3px);
				span {
					font-weight:bold;
					color:white;
				}
			}
			.smallSearchBtn {
				width:9%;
				text-indent:-9999px;
				background: url(../coned_images/search-s.png) center center no-repeat #0087f0;
			}
		}
	}
	#close-search {
		color:#9B9B9B;
		float:right;
		margin-top: 24px;
		margin-right: 2em;
		display:block;
		width:65px;
		padding:.5em 0;
		background:url('../coned_images/deco/close.png') right no-repeat;
		.no-select;
	}
}
#coned-search-results {
	margin-top:-5px;
	.clearfix;
	&:before {
		content:' ';
		display:block;
		margin:0 auto;
		text-align:center;
	}
	#coned-search-results-display {
		//background:#3A3A3A;
		background:url('/common/coned_images/paper-texture-light.jpg') #f7f7f7;
		margin-top: 20px !important;
		padding-bottom: 1em;
		.column(12,12);
		position: relative;
		h2 {
			//color: #fff;

			.adelleNormal();
			font-size: 1.5em;
			padding: 1em;
			text-align: center;
			span {
				//color: #feca30;
				color: #007ac3;
			}
		}
		img.arrow {			
			position: absolute;
			top: -20px;
			left: 460px; /* 960px/2 - 1/2 of width */
		}
		.results {
			background: #fff;
			.box-shadow(0px 1px 1px rgba(0, 0, 0, 0.1);
			margin-top: 35px;
			header {
				background: #0094F5;
				width:100%;
				h1 {
					.adelleNormal;
					color: #fff;
					font-size:1.4em;
					text-align:center;
					display:block;
					padding: 0.5em 0;
				}
				p {
					font-size: 1em;
					font-weight: normal;
					text-align: center;
					display: block;
					width: 100%;
					color:white;
					margin:0.25em 0 0 0;
					padding:0;
					span {
						font-weight:bold;
					}
				}
			}
			
		}
		.programs {
			.column(4);
			clear:left;
			.list {
				margin-bottom: 0;
			}
		}
		.courses {
			.column(8,12);
			.list {
			}
		}
	}
}
//
// * Faceted Nav *
//
#coned-faceted-nav {
	/* hide for now
	background:#EBEBEB;
	width:95%;
	margin:2.5%;
	.clearfix;
	.rounded(6px);
	h4 {
		text-align:center;
		font-size:1em;
		font-weight:normal;
		display:block;
		padding:0.5em 0;
		border-bottom:1px solid #d4d4d4;
		background:url('../coned_images/faceted-nav-header-noise.jpeg');
		.border-radius(6px 6px 0 0);
	}
	.form-wrapper {
		border-top:1px solid white;
		
		.clearfix;
		height:100%;
	}
	form {
		background:url('../coned_images/faceted-nav-body-noise.jpeg');
		fieldset {
			//width:50%;
			float:left;
			margin-bottom:1em;
			.rounded(6px);
			.clearfix;
			padding-bottom:.5em;
			legend {
				display:block;
				width:100%;
				.disable-text-select;
				float:left;
			}
			&#delMode {
				width:100%;
			}
			&#days , &#campus {
				//.column(8,8);
				float:left;
				width:45%;
				margin-bottom:1em;
				.clearfix;
				label {
					float:left;
					display:block;
					background:#C5C5C5;
					padding:0.25em 1em;
					margin:0;
					margin-right:3px;
					margin-bottom:3px;
					.rounded(3px);
					&.btn-selected {
						background: #07972F;
						color: white;
						&:hover {
							background: #07972F;
						}
					}
					&:hover {
						background:#dddddd;
						cursor:pointer;
					}
					input {
						display:none;
					}
				}
			}
			label {
				margin-left:.5em;
				input {
					margin-right:1em;
				}
				&:hover {
					background:#E2E1E1;
				}
			}
		}
	}*/
	display: none; //hiding 
}
.list {
	margin-bottom: 0;
	li:hover {
		.goto-estore {
			color:#0096F6;
			visibility: visible;
		}
	}
	li {
		border-bottom:1px solid #ECECEC;
		.clearfix;
		position: relative;
		.goto-estore {
			position:absolute;
			right:0;
			top:35%;
			visibility:hidden;
			margin-right:3%;
			font-weight:normal;
			font-size:.85em;
		}
		a {
			color:#333;
			text-decoration:none;
			display:block;
			font-size:1.2em;
			line-height:1em;
			padding: 0.9em 0.5em;
			border-left:10px solid white;
			width:80%;
			float:left;
		}
		span.code {
			font-size:0.75em;
			color:#C0BFBF;
		}
		span.online {
			background: #EAFFC3;
			display: inline-block;
			color: #0F5727;
			font-weight:normal;
			font-size: .65em;
			padding: .05em .75em;
			border: 1px solid #81D595;
			.rounded(3px);
			margin-left:5%;
		}
		&:hover {
			background:#F7FBFF;
			cursor:pointer;
			a {
				color:#0096F6;
				border-left:10px solid #0094F5;
			}
			span.code {
				color:#333;
			}
		}
	}
}
#coned-landing-content {
	.column(12);
	margin-left: -0.1%;
	margin-top: -1em;
	position: relative;
	z-index: 1;
	#coned-clusters {
		background:url('/common/coned_images/paper-texture-light.jpg') #f7f7f7;
		.wrapper {
			width:98%;
			margin: 0 auto;
		}
		.column(9,12);
	}
	p {
		line-height: 1.7em;
	}
}

#coned-clusters { 
	background:#f7f7f7;
	padding-bottom:2em;
	h2 {
		width:100%;
		display:block;
		padding: 1.4em 0 0.5em 2.2em;
		.adelleNormal();
		font-size:1.8em;
	}
	ul {
		li {
			float:left;
			.column(3,9);
			h2 {
				padding:3em 0;
			}
			h3 {
				.adelleNormal();
				color: #5D5D5D;
				font-size: 1.5em;
				text-align: center;
				letter-spacing: 0.05em;
				margin-top: 0.5em;
			}
			a {
				
				height: 205px;
				.box-shadow(0px 1px 1px rgba(0, 0, 0, 0.1);
				text-decoration:none;
				margin-bottom:15px;
				.clearfix;
				background:white;
				overflow:hidden;
				position:relative;
				img {
					margin-left:40%;
					margin-top:30%;
				}
				p.cluster-description {
					-webkit-transition:top 0.25s ease-out, opacity 0.25s ease-out;
					-moz-transition:top 0.25s ease-out, opacity 0.25s ease-out;
					transition:top 0.25s ease-out, opacity 0.25s ease-out;
					-webkit-transition-delay:0.15s;
					-moz-transition-delay:0.15s;
					transition-delay:0.15s;
					visibility: hidden;
					color:#86dff2;
					padding:1em 10% 10% 10%;
					position:absolute;
					top:150px;
					opacity:0;
					line-height: 1.4em;
				}
				&:hover {
					-webkit-transition:background-color 0.75s;
					-moz-transition:background-color 0.75s;
					transition:background-color 0.75s;
					background:url('/common/coned_images/deco/roll-over-cluster-arrow.png') #007ac3 bottom right no-repeat;
					h3 {
						color:white;
						margin-top:1.5em;
						font-size:1.6em;
						text-align:left;
						padding-left:10%;
					}
					p.cluster-description {
						visibility: visible;
						top:50px;
						opacity:1;
					}
					img {
						display:none;
					}
				}
			}
		}
	}
}
//////////////////////////////////////////////////////
//                                                  //
//                                                  //
//                   SEARCH ASIDE                   //
//                                                  //
//                                                  //
//////////////////////////////////////////////////////
#coned-sidebar-search {  
	.column(12);
	background:#3a3a3a;
	min-height:110px;
	margin-bottom:0.9em;
	padding:0;
	margin-bottom:1em;
	h1 {
		font-size:1.25em;
		font-weight:normal;
		margin-top:1.25em;
		margin-left:1em;
		width:100%;
		float:left;
		color:#B0B0B0;
		span {
			font-size:1em;
			font-weight:bold;
			color:#f1f1f1;
		}
	}
	form {
		float:left;
		width:100%;
		margin-right:3em;
		margin-top:1.4em;
		margin-left:1em;
		fieldset {
			.clearfix;
			input.coned-search-field, input.coned-search-field-sm {
				width:60%;
				border:none;
				background:white;
				padding:1em 2em;
				margin-right:.75em;
				float:left;
				.rounded(3px);
			}
			.coned-search-submit {
				width:15%;
				background: url(../coned_images/search-s.png) center center no-repeat #0087f0;
				cursor:pointer;
				padding:1em 2em;
				border:none;
				float:left;
				.rounded(3px);
			}
			.smallSearchBtn {
				width:9%;
				text-indent:-9999px;
			}
		}
	}
	#close-search {
		color:#9B9B9B;
		float:right;
		margin-top: 24px;
		margin-right: 2em;
		display:block;
		width:65px;
		padding:.5em 0;
		background:url('../coned_images/deco/close.png') right no-repeat;
		.no-select;
	}
}
//////////////////////////////////////////////////////
//                                                  //
//                                                  //
//                     CONED ASIDE                  //
//                                                  //
//                                                  //
//////////////////////////////////////////////////////
#coned-aside {
   .column(3,12); 
   margin:0px;
   #news-hightlight {
		border:1px solid #dfdfdf;
		margin:0;
		padding:0;
		h3 {
			background:#ededed;
			margin:0;
			//margin-top:1em;
			padding:.5em 0;
			text-indent: 0.75em;
		}
		.news-item {
			padding:0 10px;
			border:none;
			padding-top:.5em;
			padding-bottom:.5em;
			border-bottom:1px solid #dfdfdf;
			background: white;

			h4 {
				color:#333;
			}
			p {
				font-size:11px;
				margin:0;
				padding:0;
			}
			a {
				display:inline-block;
				color:#007ac3;
				padding:0;
				margin:0;
				padding-left:10px;
				background: url(../coned_images/deco/arrow-link-read.png) 0 5px no-repeat;
			}
			&:last-child {
				border-bottom:none;
			}
		}
	}
}
// 
// * NEWS COIN SLIDER *
//
#coin-news {
	border-bottom: 1px solid #f0f0f0;
	/* Slider */
	ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
	li.bjqs-slide{display:none;position:absolute;}
	ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
	ol.bjqs-markers{list-style:none;margin:0;padding:0;z-index:9999;}
	ol.bjqs-markers li{float:left;}
	p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}

	#slider_container{
		width: 100%;
		margin:0 auto;
		overflow:hidden;
	}
	#news_slider {
		width: 100%;
		/* to change width and height, see inline js in the html - this section for consistency only, actual sizing done using js */
		margin:0 auto;
		position:relative;
	}
	 ul.bjqs-controls li a{
		display: none;
	}
	a.bjqs-prev {left:0;}
	a.bjqs-next {right:0;}
		p.bjqs-caption{
		background:rgba(0,0,0,0.7);
		color:#fff;
		text-align:center;
	}
	 ol.bjqs-markers{
		position:absolute;
		bottom: 12px;
	}
	 ol.bjqs-markers li{
		float:left;
		margin:0 3px;
	}
	 ol.bjqs-markers li a{
		display:block;
		height: 8px;
		width: 8px;
		overflow:hidden;
		text-indent:-9999px;
		background: #e6e6e6;
		border-radius: 10px;
	}
	ol.bjqs-markers li.active-marker a{
		background: #999;
	}
	/* end slider */

	h3 {
		//background:#3A3A3A;
		background: #f7f7f7;
		margin:0;
		//color:white;
		color: #404040;
		padding:0.8em;
		text-indent: 0.5em;
		//font-size: 0.9em;
		border-top: 1px solid #fff;
	}
	li.coin-news-item {
		padding: 1em 0;
		border:none;
		border-bottom:1px solid #dfdfdf;
		h4 {
			color:#333;
			padding-bottom: 0.5em;
		}
		a {
			display:inline-block;
			color:#007ac3;
			padding:0;
			margin:0;
			padding-left:10px;
			background: url(../coned_images/deco/arrow-link-read.png) 0 5px no-repeat;
		}
		p, a, h4 {
			font-size: 0.9em;
		}
	}
}


#coned-sidebar-see-also {
	margin-bottom: 0;
	li { border-bottom: solid 1px #e6e6e6; 
		background: url(../coned_images/deco/aside-nav-arrow.png) no-repeat right;
		&:last-child {
			//border-bottom: 0;
			border-bottom: 1px solid #f7f7f7;
		}
		a {
			margin-left:1em;
			color:#3a3a3a;
			text-decoration:none;
			padding: 10px 0;
			display: block;
			&:hover {
				background: url(../coned_images/deco/aside-nav-arrow-blue.png) no-repeat right;
			}
		}
	}
}
// 
// * TWITTER FEED *
//
#coned-sidebar-twitter {
	/* sea of clouds twitter plugin */
	.tweet, .query {
		color: #085258;
		width: 88%;
		margin: 0 auto 1em auto;
	}
	.tweet_list {
		list-style: none;
		margin: 0;
		padding: 0;
		overflow-y: hidden;
		li {
			font-size: 0.9em;
			overflow-y: auto;
			overflow-x: hidden;
			padding: 1em 0;
			list-style-type: none;
			background: none;
			border-bottom: solid 1px #e6e6e6;
			&:last-child {
				border-bottom:none;
			}
			a {
				color: #0079c2;
				text-decoration: none;
				font-size: 0.9em;
			}
		}
		li:before {
			content: "Sheridan College  ";
			font-weight: bold;
			font-size: 0.9em;
		}
	}	
	.tweet_list .tweet_avatar {
		padding-right: .5em; float: left;
	}
	.tweet_list .tweet_avatar img {
		vertical-align: middle;
		margin-right: 0.2em;
		margin-bottom: 0em;
	}
	/* end sea of clouds twitter plugin */
	h3 {
		color:#404040;
		text-indent: 4.3em;
		background: url(../coned_images/deco/twitter.png) 1.8em center no-repeat #f7f7f7;
		padding:0.8em;
		border-top: 1px solid #fff;
	}
}

//////////////////////////////////////////////////////
//                                                  //
//                                                  //
//                CLUSTER PAGE STYLES               //
//                                                  //
//                                                  //
//////////////////////////////////////////////////////

#coned-aside.not-landing {
   .column(4);
   margin-left: -0.8%;
}
#coned-landing-content.not-landing { 
	background:url('/common/coned_images/paper-texture-light.jpg') #f7f7f7; min-height:900px;
	.column(8,12);
}
#coned-title {
	.column(12,12);
	h1 {
		//display:block;
		margin:1em 1em 0.6em 1em;
		font-size:2.5em;
		.adelleHeavy();
		color:#2f2f2f;
	}
}
#crumbs {
	ul {
		.clearfix;
		clear: both;
		background: #f8f8f8;
		width: 960px;
		margin: 2em 0 0.6em 0.5em;
		border-top: 1px solid #e6e6e6;
		border-bottom: 1px solid #e6e6e6;
		li {
			a {
				display:block;
				color: #878787;
				float:left;	
				text-decoration:none;
				background:url(/common/coned_images/crumbs-main.png) right center no-repeat #efefef;
				padding:0.6em 2em 0.6em 1.3em;
				&:hover{
					color: #000;
				}
			}
			&:first-child {
				a {
					background: url(/common/coned_images/crumbs-first.png) right center no-repeat #cfcfcf;
					padding: 0.6em 1.5em 0.6em 1em;
					&:hover {
						img {
							.opacity(1);
						}
					}
				}
				img {
					width: 12px;
					height: 12px;
					vertical-align: middle;
					margin-top: -2px;
					//display: none;
					.opacity(0.5);
				}
			}
			&:last-child {
				a {
					background: url(/common/coned_images/crumbs-last.png) right center no-repeat #efefef;
				}
			}
		}
	}
}

#coned-intro{
	display:block; 
	margin:10px 20px 10px 20px;
}
#coned-cluster-featured {
	background:#c0c0c0;
	min-height:225px;
	width: 100%;
	float: none;
	display: block;
	margin: 0 auto;
}
#coned-cluster-listing {
	min-height:1000px;
	h2{
		display:block;
		padding: 0.5em 0 0.5em 1em;
		.adelleNormal();
		font-size:1.8em;
		}
	.cluster-items {
		border:1px solid #ececec;
		border-bottom: 0;
		margin: 1em 2% 1em 2%;
		width:96%;
		background:white;
		display:block;
		.box-shadow(0px 1px 1px rgba(0, 0, 0, 0.1);
	}
}

/* Header Bars */

#coned-cluster-listing h3, #way-find-item h2 {
	display: block;
	background:#007fc0;
	color:white;
	padding: 0.5em 1em;
	.adelleNormal();
	font-size:1.5em;
}

//////////////////////////////////////////////////////
//                                                  //
//                                                  //
//                News Comers / Current             //
//                                                  //
//                                                  //
//////////////////////////////////////////////////////

#coned-landing-content.not-landing {
	.column(8,12);
}
#coned-secondary-featured {
	//image will be in-box
	width: 100%;
	margin: 0 auto 1em auto;
	background:#333;
	min-height:200px;
	h1 {
		display:block;
		padding: 160px 10px 10px 30px;
		.adelleHeavy();
		font-size:3em;
		color:#ffffff;
	}
}
#intro-newcom {
	.clearfix;
	display:block; 
	margin:10px 20px 10px 20px;
	h1{
		.adelleHeavy();
		font-size:3em;
		margin:0.5em 0 0.7em;
	}
}

section.newcomers-intro {
	.clearfix;
	margin: 2em auto 0 auto;
	width: 95%;
	.intro-text{
		display:block;
		float:left;
		padding: 0 1em;
		width:50%;
		h2{
			.adelleNormal;
			font-size:2em;
			margin-bottom:0.75em;
		}
	}
	.call-out {
		background:#f0f0f0;
		float:right;
		display:block;
		padding:0;
		width:45%;
		margin:0px;
		p {
			padding: 1.5em;
		}
		h3{
			background:#0079c2;
			color:white;
			padding: 0.6em 1em;
			.adelleNormal();
			font-size:1.3em;
		}
		.list-2{
			li{
				a{
					color:#017ec0;
					text-decoration:none;
				}
				&:hover {
					text-decoration: underline;
				}
				.desc{color:#333;}
			}
		}
	}
	.call-out-2 {
		.border-radius(0px, 20px, 20px, 20px);
		background:url('/common/coned_images/paper-texture-lime.jpg');
		float:right;
		display:block;
		padding:0;
		width:45%;
		margin:0px;
		p {
			padding: 1.5em;
		}
		h3{
			color:white;
			padding: 1em 1em .2em;
			.adelleHeavy();
			font-size:1.8em;
		}
		a {
			color:white;
		}
	}
}


section.currentstudents-intro{
	.clearfix;
	margin: 2em auto 0 auto;
	width: 95%;
	.intro-text{
		.clearfix;
		display:block;
		float:left;
		padding: 0 1em;
	}
	.local-nav{
		ul {
			.clearfix;
			li{
				text-align:center;
				a{
				 	.adelleHeavy();
				 	font-size:1.2em;
				 	color:#333;
				 	float:left;
					display:block;
					width:18.95%;
					padding:2.1%;
					background:white;	
					//margin:0.5em 0.3em;
					margin-right:1em;
					text-decoration:none;
					.box-shadow(0px 1px 1px rgba(0, 0, 0, 0.2);
					&:hover{
						background:#0081c1;
						color:white;
						-webkit-transition:background-color 0.75s;
					-moz-transition:background-color 0.75s;
					transition:background-color 0.75s;
					background:url('/common/coned_images/deco/roll-over-cluster-arrow.png') #007ac3 bottom right no-repeat;
					}
				}		
			}
			li:last-child {
				a {
					margin-right: 0;
				}
			}
		}

	}
	
	.call-out-2 {
		.border-radius(0px, 20px, 20px, 20px);
		background:url('/common/coned_images/paper-texture-lime.jpg');
		float:right;
		display:block;
		padding:0;
		width:49%;
		margin:0px;
		p {
			padding: 1.5em;
		}
		h3{
			color:white;
			padding: 1em 1em .2em;
			.adelleHeavy();
			font-size:1.8em;
		}
		a {
			padding-left:1em;
			background: url(../coned_images/deco/aside-nav-arrow.png) no-repeat left;
			color:white;
			text-decoration:none;
			&:hover{
				color:white;
				text-decoration:underline;
			}
		}
	}
	.call-out-3 {
		.border-radius(0px, 20px, 20px, 20px);
		background:url('/common/coned_images/paper-texture-blue.jpg');
		float:right;
		display:block;
		padding:0;
		width:49%;
		margin:1em 0;
		p {
			padding: 1.5em;
		}
		h3{
			color:white;
			padding: 1em 1em .2em;
			.adelleHeavy();
			font-size:1.8em;
			line-height:1em;
		}
		a {
			padding-left:1em;
			background: url(../coned_images/deco/aside-nav-arrow.png) no-repeat left;
			color:white;
			text-decoration:none;
			&:hover{
				color:white;
				text-decoration:underline;
			}
		}
	}
}
.helpful-links {
	float:left;
	min-height:220px; 
	width:49%;
	background:white;
	.box-shadow(0px 1px 1px rgba(0, 0, 0, 0.3);
	h3 {
			color:#fff;
			.adelleHeavy();
			font-size:1.2em;
			background:#0081c1;
			padding:0.5em 1em;
		}
	ul {
		padding:1em;
		li {
			list-style: none;
			display: block;
			//padding: 0.4em 0;
			padding:0.5em 0em;
			a {
				//display:block;
				//padding:0.5em 1em;
			}
		}
	}
}

#way-find { 
	.clearfix;
	min-height:800px;	
	padding: 1em 0;
}
#way-find-item { 
	margin-top:2em;
	width:96%;
	margin: 1em auto;
	background:white;
	.box-shadow(0px 1px 1px rgba(0, 0, 0, 0.3);
	.clearfix();
	.way-find-desc {
		float:left;
		width:47%;
		background:white;
		margin:0px;
		padding:1.5em 1.5em 0.5em 1.5em;
		display:block;
		p {
			color:#333;
			}
		}
		.way-find-links {
			float:right;
			display:block;
			padding:1.5em 1.5em 3em 1.5em;
			width:40%;
			margin:0px;
			h3{
				color:#333;
				.adelleHeavy();
				font-size:1.2em;	
			}
			.list-2{
				li{
					padding:0.5em 0em;
					a {
						color:#017ec0;
						text-decoration:none;

					}
					&:hover {
						text-decoration: underline;
					}
					//.desc{color:#333;}
				}
			}
		}
	}
}