@import "elements.less";
@import "grid.less";


@column-width: 68;
@gutter-width: 12;
@columns: 12;

//@total-width: 100%;

.clearfix {

	&:after {
		clear: both;
		content: ' ';
		display: block;
		font-size: 0;
		line-height: 0;
		visibility: hidden;
		width: 0;
		height: 0;
	}

	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
.hide {
	display:none;
}
#big-audience-nav {
	nav {
		ul {
			.clearfix;
			li {
				float:left;
				text-align:center;
				a {
					display:block;
					background:darkgrey;
					padding-top:.65em;
					padding-bottom:.65em;
					color:white;
					font-size:1.6em;
					text-decoration:none;
					.column(4);
					&:hover {
						background:grey;
					}
				}
			}
			li.active-tab a {
				background:grey;
			}
		}
	}
}

#coned-messaging-area {
	.column(12);
	background:grey;
	height:400px;
	margin-top:1em;
}
#coned-search-bar {
	.column(12);
	//.gradient(#0b0b0b, #0b0b0b, #424242);
	background:#3a3a3a;
	height:70px;
	margin-top:1em;
	margin-bottom:1em;
	h1 {
		font-size:1.75em;
		font-weight:normal;
		margin-top:1.25em;
		margin-left:2em;
		width:39%;
		float:left;
		color:#B0B0B0;
		span {
			font-size:1.2em;
			font-weight:bold;
			color:#f1f1f1;
			&:after {
				content:" ";
				display:inline-block;
				background: #4c4c4c;
				margin-left: 10px;
				width:1px;
				height:1em;
				margin-bottom:-.2em;
			}
		}
	}
	form {
		float:left;
		width:50%;
		margin-right:3em;
		margin-top:1.4em;
		fieldset {
			.clearfix;
			input.coned-search-field {
				width:53%;
				border:none;
				background:white;
				padding:1em 2em;
				margin-right:.5em;
				float:left;
				.rounded(3px);
			}
			.coned-search-submit {
				width:34%;
				.gradient(#0087f0, #0087f0, #00a7fd);
				//background:orange;
				padding:1em 2em;
				color:whitesmoke;
				border:none;
				float:left;
				.rounded(3px);
				span {
					font-weight:bold;
					color:white;
				}
			}
			.smallSearchBtn {
				width:9%;
				text-indent:-9999px;
			}
		}
	}
	#close-search {
		color:yellow;
		float:right;
		margin-top: 27px;
		margin-right: 2em;
	}
}
.triangle-up {
    width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 15px 15px 15px;
	border-color: transparent transparent #D8D8D8 transparent;
}
#coned-search-results {
	.column(12);
	margin-bottom:12px;
	margin-top:-5px;
	&:before {
		content:' ';
		display:block;
		margin:0 auto;
		text-align:center;
		.triangle-up;
	}
	#coned-search-results-display {
		background:#D8D8D8;
		padding:0 3% 3% 3%;
		//.rounded(8px);
		.clearfix;
		header {
			
			p {
				font-size:1.4em;
				text-align:center;
				padding:.25em 0;
				background:#FFFFC8;
				border:1px solid #F0DF63;
				span {
					font-weight:bold;
					color:#FFA500;
				}
			}
		}
		nav.togglenav {
			text-align:center;
			float: left;
			p {
				float:left;
				text-align:left;
			}
			ul {
				min-width:400px;
				li {
					display: inline-block;
					 a {
						padding: 6px 10px 7px 11px;
						min-width: 115px;
						border: 1px solid #CFCFCF;
						border-left: 0;
						text-decoration: none;
						background: -moz-linear-gradient(100% 100% 90deg, #F4F4F4, #FEFEFE);
						background: -webkit-gradient(linear, 0 0, 0 100%, from(#FEFEFE), to(#F4F4F4));
						background: -moz-linear-gradient(100% 100% 90deg, #F4F4F4, #FEFEFE);
						-webkit-box-shadow: inset 1px 0 0 white;
						-moz-box-shadow: inset 1px 0 0 #fff;
						box-shadow: inset 1px 0 0 white;
						display: inline-block;
						font-size:1em;
						&:hover {
							background: -moz-linear-gradient(100% 100% 90deg, #EBEBEB, #F6F6F6);
							background: -webkit-gradient(linear, 0 0, 0 100%, from(#F6F6F6), to(#EBEBEB));
							background: -moz-linear-gradient(100% 100% 90deg, #EBEBEB, #F6F6F6);
						}
					}
					a.active {
						padding-left: 10px;
						color: white;
						cursor: default;
						text-decoration: none;
						border: 1px solid #666;
						background: #636363;
						background: -webkit-gradient(linear, 0 0, 0 100%, from(#545454), to(#7B7B7B));
						background: -moz-linear-gradient(100% 100% 90deg, #7B7B7B, #545454);
						.drop-shadow(0,1px,9px,0.52);
					}
					&:first-child a {
						.border-radius(0,0,6px,6px);
						-webkit-box-shadow: none;
						-moz-box-shadow: none;
						box-shadow: none;
					}
					&:last-child a {
						.border-radius(6px,6px,0,0);
					}
				}
			}
		}
		.results {
			min-height:200px;
			background:white;
			float:left;
			margin-top: 35px;
			h2 {
				font-size: 1.4em;
				font-weight: normal;
				text-align: left;
				display: block;
				width: 100%;
				margin: 1.2em 1.5em;
				margin-bottom:1em;
				span {
					font-weight:bold;
				}
			}
			.list {
				padding:0 3%;
				float:left;
				li {
					border-bottom:1px solid #CEEDF3;
					a {
						text-decoration:none;
						padding:.5em .25em;
						display:block;
						font-size:1.2em;
					}
					span.code {
						font-size:0.75em;
						color:#C0BFBF;
					}
					span.online {
						background: #EAFFC3;
						display: inline-block;
						color: #0F5727;
						font-weight:normal;
						font-size: .65em;
						padding: .05em .75em;
						border: 1px solid #81D595;
						float:right;
						.rounded(3px);
					}
					&:hover {
						background:#F7FBFF;
						a {
							color:orange;
						}
					}
					&:last-child {
						border-bottom:none;
					}
				}
			}
		}
		.programs {
			width:38%;
			float:left;
			clear:left;
		}
		.courses {
			width:60%;
			float:right;
			.list {
				width:95%;
			}
		}
		#coned-faceted-nav {
			float:left;
			width:95%;
			margin-left:2.5%;
			background:whiteSmoke;
			form {
				fieldset {
					margin-bottom:1em;
					float:left;
					margin-left:1em;
					legend {
						color:purple;
					}
					label {
						margin-left:.5em;
						display:block;
						input {
							margin-right:1em;
						}
						&:hover {
							background:#E2E1E1;
						}
					}
				}
			}
		}
	}
}
#coned-landing-content {
   #coned-clusters {
	   .wrapper {
           .row(9);
	   }
	   .column(9,9);
   }
   
}
#coned-sidebar-see-also {
	li { border-bottom: solid 1px #e6e6e6;
		a {
			color:#3a3a3a;
			padding: 10px 5px 10px	15px;
			display:block;
			text-decoration:none;
		}
	}
}
#coned-clusters { background:#ededed;
	ul {
		li {
			float:left;
			.column(3,9);
			h2 {
				padding:3em 0;
				background:red;
			}
			h3 {
				color: #333;
				font-size:1em;
				text-align: center;
				text-transform: uppercase;
				letter-spacing:.1em;
				margin-top:60%;
			}
			a {
				height: 205px;
				//border: 5px solid white;
				.box-shadow(0px 1px 1px rgba(0, 0, 0, 0.1);
				text-decoration:none;
				margin-bottom:15px;
				.clearfix;
			}
			@icon-position:#fff center 30% no-repeat;
			#arts-and-design {
				background:url('/common/coned_images/clusters/arts_design.png') @icon-position;
			}
			#business {
				background:url('/common/coned_images/clusters/business.png') @icon-position;	
			}
			#communication-language {
				background:url('/common/coned_images/clusters/communication_language.png') @icon-position;	
			}
			#computer-studies {
				background:url('/common/coned_images/clusters/computer_studies.png') @icon-position;	
			}
			#education-liberal-studies {
				background:url('/common/coned_images/clusters/education_liberal_studies.png') @icon-position;	
			}
			#environmental-studies {
				background:url('/common/coned_images/clusters/environmental_studies.png') @icon-position;	
			}
			#health-wellness {
				background:url('/common/coned_images/clusters/health_wellness.png') @icon-position;
			}
			#justice-studies {
				background:url('/common/coned_images/clusters/justice_studies.png') @icon-position;
			}
			#manufacturing-tech-trades {
				background:url('/common/coned_images/clusters/manufacturing_tech_trades.png') @icon-position;	
			}
		}
	}
}

#coned-aside {
   .column(3,12);
   h3 {
	   	padding:10px 5px 0px 10px;
		color:#3d3d3d;
		font-size:1.3em;
		line-height:2.0em;
		border-bottom:solid #3d3d3d 2px;
	}
	ul#coned-sidebar-accr { 
   		margin-bottom:0;
		li { 
			margin-bottom:10px;
		    background: url(../coned_images/nav/opentab.png) no-repeat 16px 12px;
			&:hover {
				.gradient(#0087f0, #0087f0, #00a7fd);
			}
			a {
				font-weight:bold;
				border:solid #eee 1px;
				text-decoration: none;
			    color: #666;
			    display: block;
			    padding: 15px 20px 15px 50px;
			    &:hover {
					color:#fff;
				    background: url(../coned_images/nav/opentab.png) no-repeat 16px 12px;
				}
			}
		}
		&:last-child a {
	       border-bottom:0px;
		}
		ul { 
			.bordered(1px, #eee, #eee, #eee, #eee);
			border-top:0px;
			background:white;

	       li { margin:5px 20px 5px 20px; background:white; border-bottom:1px solid black;
	       	span {color:blue; font-weight:bold;}
               a {
                   color:#333333;
                   border:0px;
                   background:white;
                   padding: 5px;
                   &:hover{
                       color:#00a1f7;
                       background:white;
                   }
               }
	       }
		}
    }
}
#coned-cluster-listing {
	
	.coned-column {
		background:grey;
		.column(4,12);
	}
	.coned-column.first {
		background:orange;
		clear:left;
	}
	.coned-column.last {
		background:green;
	}
}
#coned-aside.not-landing {
   .column(4,12);
}

#coned-cluster-featured {
	.column(8,12);
	background:purple;
	min-height:600px;
}


